@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');

body {
    background-color: #7ed6df;
    font-family: 'Poppins', sans-serif;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.change-bg{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

@media screen  and (max-width: 991px){
    .change-bg {
        position: relative;
        display: flex;
        justify-content: center;
    }
}